* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  nav {
    background: rgb(26, 26, 26);
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .mainMenu {
    margin-right: 20px;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  nav .mainMenu li a {
    display: inline-block;
    padding: 13px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    transition: 0.5s ease;
    border-radius: 60px;
  }
  
  nav .mainMenu li a:hover {
    background-color: white;
    color: black;
    
  }
  
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  
  nav .mainMenu .closeMenu,
  .icons i, .signin-signup-mob {
    color: white;
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }

  .signin-signup-mob button {
    margin: 7px;
    height: 35px;
    width: 85px;
    font-size: 15px;
    background-color: rgb(98, 0, 190);
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signin-signup-mob{
    margin-top: 30px;
   }
  
  .fa-facebook:hover {
    color: rgb(0, 110, 255);
  }
  
  .fa-linkedin:hover {
    color: rgb(86, 154, 243);
  }
  
  .fa-instagram:hover {
    color: rgb(255, 0, 191);
  }
  
  .fa-whatsapp:hover {
    color: rgb(0, 255, 38);
  }
  
  nav .logo img{
    margin-left: 20px;
    border-radius: 100%;
  }
  
  .signin-signup button {
    margin: 2px;
    height: 35px;
    width: 85px;
    font-size: 15px;
    background-color: rgb(98, 0, 190);
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signin-signup{
   display: flex;
   flex-direction: row;
   margin-right: 10px;
  }
  .signin-signup button:hover {
    scale: 1.1;
    transition-duration: 0.7s;
  }

  
  @media (max-width: 800px) {
    nav .mainMenu {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(26, 26, 26);
      transition: ease 0.5s;
      display: none;
    }
  
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  
    nav .openMenu {
      display: block;
    }
  
    nav .mainMenu li a:hover {
      background: none;
      color: orangered;
    }
  
    .icons i {
      display: inline-block;
      padding: 13px;
    }
  
    .signin-signup {
      display: none;
    }

    .signin-signup-mob{
      display: block;
    }
  
  
  }
  
  /* Main body */
 
 main{
    height: auto;
    padding: 35px;
    background-color: rgb(236, 235, 235);
 }

 .dropdown{
  margin: 30px 0 30px 0;
 }

.dropbtn {
  background-color: whitesmoke;
  border: 1px solid rgb(86, 86, 87);
  border-radius: 30px;
  color: rgb(70, 70, 70);
  margin: 3px;
  min-width: 115px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.dropbtn:focus {
  background-color: #96999b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content p {
  display: flex;
  margin: 10px;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content p span{
 margin: 5px;
}

.dropdown-content a:hover {background-color: #ddd;}

.show{
  display:block;
}

.certification-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
 
}

.certification-courses{
  height: auto;
  background-color: rgb(222, 220, 220);
  border: 1px solid rgb(86, 86, 87);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 2px 2px rgb(148, 148, 148);
 
}

.about-course{
  display: grid;
  grid-template-columns: 20% 70% 10%;
}

.logo img{
  border-radius: 5px;
}

.about{
  display: flex;
  flex-direction: column;
}

.about :first-child{
  color: rgb(104, 104, 104);
}

.about :nth-child(2){
 margin-top: 5px;
 font-size: 18px;
 font-weight: bold;
}

.bookmark i{
  font-size: 25px;
  padding: 10px;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 100%;
  cursor: pointer;

}

.skill{
  margin-top: 10px;
  line-height: 170%;
}


.skill span{
  border: 1px solid rgb(86, 86, 87);
  margin-left: 5px;
  padding: 3px;
  border-radius: 3px;
  color: #445578;
  font-weight: 550;
  font-size: 14px;
  cursor: default;
}

.detail{
  margin-top: 17px;
}

.detail span{
  margin: 8px;
}

.certification-courses button{
  margin-top: 20px;
  height: 33px;
  width: 150px;
  background-color: rgb(65, 139, 250);
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}


@media (max-width: 850px) {

  .certification-container{
    grid-template-columns: repeat(1, 1fr);
   
  } 

}

  
  /* footer */
  
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(26, 26, 26);
    height: 150px;
    overflow-x: hidden;
  
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
  }
  
  .box1 img {
   border-radius: 100%;
  }
  
  .box1 {
    border-right: 1px solid white;
  }
  
  .box2 {
    border-right: 1px solid white;
  }
  
  .box3 {
    border-right: 1px solid white;
    line-height: 2;
  }
  
  .box4 p {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .box4 i {
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .link a {
    text-decoration: none;
    color: white;
    margin: 4px;
    font-size: 24px;
  }
  
  .link {
    margin-top: 20px;
  }
  
  
  
  @media (max-width: 800px) {
    footer {
      display: grid;
      grid-template-columns: 1fr;
      background: rgb(26, 26, 26);
      height: auto;
      gap: 20px;
    }
  
    .box1 img {
      margin-top: 10px;
    }
  
    .box1,
    .box2,
    .box3,
    .box4 {
      border: none;
    }
  
    .link {
      margin-top: 20px;
    }
  }
  
  